/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&family=Figtree:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* slick-carousel slider */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* scrollbar */
@import './scrollbar.css';

/* to remove default browser focus-visible */
body * {
  &:focus-visible,
  &:focus {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;
}
